<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1085462696311-8mp8nlnsbj9j62ql99ltkc0ijhc904cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085462696311-8mp8nlnsbj9j62ql99ltkc0ijhc904cn</string>
	<key>API_KEY</key>
	<string>AIzaSyDL6NysFUQ4QSVIjMm53IHyE5Jq_OlKa1w</string>
	<key>GCM_SENDER_ID</key>
	<string>1085462696311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.brimagem.oriente</string>
	<key>PROJECT_ID</key>
	<string>brartist-c47d3</string>
	<key>STORAGE_BUCKET</key>
	<string>brartist-c47d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085462696311:ios:414bab5144268abd</string>
	<key>DATABASE_URL</key>
	<string>https://brartist-c47d3.firebaseio.com</string>
</dict>
</plist>