page-home {
 
}


.alert-md .alert-wrapper {
    background: #fff;
}

 .alertPontos .alert-head {
    height:180px;

}

.alertPontos .alert-head h3 {
    margin-top:20px;
   padding-bottom:80px;
    background: url('../assets/imgs/trofeu.jpg') no-repeat bottom center;
}


.slidehome { background:#000000 }


